body {
    font-family: Arial, sans-serif;
    background: pink;
    color: black;
    text-align: center;
    margin-top: 100px;
}
.container {
    background: yellow;
    padding: 30px;
    border-radius: 15px;
    display: inline-block;
}
input {
    padding: 10px;
    font-size: 20px;
    border-radius: 10 px;
    border: none;
    margin: 10px;
}
button {
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
    background-color: cyan;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: orangered;
}
#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}